{
  "info": {
    "title": "Cloze",
    "version": "1.0.0",
    "description": "Cloze APIs"
  },
  "host": "api.cloze.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "paths": {
    "/v1/analytics/teamactivity": {
      "post": {
        "summary": "Query team activity",
        "description": "Query activity data for the user's team.  Reports activity for a particular period across one or\nmore of the following measures<br/>\n<br/>\n`sentmails` - emails sent<br/>\n`rcvdstandard` - emails received (non-bulk)<br/>\n`rcvdbulk` - bulk emails received<br/>\n`meetings` - meetings scheduled<br/>\n`meetingmins` - meeting minutes scheduled<br/>\n`inbcalls` - inbound voice calls<br/>\n`inbcallmins` - inbound voice call minutes<br/>\n`outbcalls` - outbound voice calls<br/>\n`outbcallmins` - outbound voice call minutes<br/>\n`outbcalls_short` - The number of outbound calls that were a short amount of time in duration<br/>\n`outbcalls_medium` - The number of outbound calls that were a medium amount of time in duration<br/>\n`outbcalls_long` - The number of minutes in outbound calls that were a long amount of time in duration<br/>\n`outbcalls_short_mins` - The number of minutes in outbound calls that were short in duration<br/>\n`outbcalls_medium_mins` - The number of minutes in outbound calls that were medium in duration<br/>\n`outbcalls_long_mins` - The number of minutes in outbound calls that were long in duration<br/>\n`inbcalls_short` - The number of inbound calls that were a short amount of time in duration<br/>\n`inbcalls_medium` - The number of inbound calls that were a medium amount of time in duration<br/>\n`inbcalls_long` - The number of inbound calls that were a long amount of time in duration<br/>\n`inbcalls_short_mins` - The number of minutes in inbound calls that were short in duration<br/>\n`inbcalls_medium_mins` - The number of minutes in inbound calls that were medium in duration<br/>\n`inbcalls_long_mins` - The number of minutes in inbound calls that were long in duration<br/>\n`sentmessages` - sent text messages<br/>\n`rcvdmessages` - received text messages<br/>\n`creatednotes` - Notes created<br/>\n`updatednotes` - Notes updated<br/>\n`newtodos` - ToDos created<br/>\n`donetodos` - ToDos completed<br/>\n`donesteps` - Steps completed<br/>\n`mailopens` - Email opens<br/>\n`meta_value` - The pipeline value<br/>\n<br/>\nQueries must specify a period scale, one of `year`, `quarter`, `month` or `week`\n",
        "tags": [
          "Analytics"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "name": "queries",
            "description": "map of `Query` definitions. The response will be organized by the query names that were provided in the input map.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "exampleQueryName": {
                  "description": "Each query in the map should have a different name. The response will be organized by the query names that were provided.",
                  "$ref": "#/definitions/Query"
                }
              },
              "example": {
                "queries": {
                  "advisorqtr": {
                    "max": 30,
                    "scale": "quarter",
                    "tag": "advisor",
                    "measures": [
                      "sentmails",
                      "rcvdstandard",
                      "meetings",
                      "inbcalls",
                      "outbcalls"
                    ]
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity data",
            "schema": {
              "type": "object",
              "items": null
            }
          }
        }
      }
    },
    "/v1/analytics/teamactivity/update": {
      "get": {
        "summary": "Update team activity",
        "description": "Update team activity for one or more team members. Note that calling this more frequently than every 15 minutes will result in updates being skipped.",
        "tags": [
          "Analytics"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "name": "tag",
            "description": "Tag that identifies which team members to update"
          },
          {
            "name": "wait",
            "description": "Amount of time (in ms) to wait for update to complete (default is 1 minute)"
          },
          {
            "name": "skip",
            "description": "Do not start an update, just return the most recent update date"
          }
        ],
        "responses": {
          "200": {
            "description": "Date range of updates",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "oldest": {
                  "description": "date of lesat recently updated team member",
                  "type": "number"
                },
                "newest": {
                  "description": "date of most recently updated team member",
                  "type": "number"
                },
                "users": {
                  "description": "number of users that have been processed",
                  "type": "number"
                },
                "skipped": {
                  "description": "number of users that have skipped being updated",
                  "type": "number"
                },
                "updated": {
                  "description": "number of users that finished being updated before returning",
                  "type": "number"
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/activity": {
      "post": {
        "summary": "Query user activity",
        "description": "Query activity data for the user.  Reports on one or more of the following activity measures<br/>\n<br/>\n`sentmails` - emails sent<br/>\n`rcvdstandard` - emails received (non-bulk)<br/>\n`rcvdbulk` - bulk emails received<br/>\n`meetings` - meetings scheduled<br/>\n`meetingmins` - meeting minutes scheduled<br/>\n`inbcalls` - inbound voice calls<br/>\n`inbcallmins` - inbound voice call minutes<br/>\n`outbcalls` - outbound voice calls<br/>\n`outbcallmins` - outbound voice call minutes<br/>\n`outbcalls_short` - The number of outbound calls that were a short amount of time in duration<br/>\n`outbcalls_medium` - The number of outbound calls that were a medium amount of time in duration<br/>\n`outbcalls_long` - The number of minutes in outbound calls that were a long amount of time in duration<br/>\n`outbcalls_short_mins` - The number of minutes in outbound calls that were short in duration<br/>\n`outbcalls_medium_mins` - The number of minutes in outbound calls that were medium in duration<br/>\n`outbcalls_long_mins` - The number of minutes in outbound calls that were long in duration<br/>\n`inbcalls_short` - The number of inbound calls that were a short amount of time in duration<br/>\n`inbcalls_medium` - The number of inbound calls that were a medium amount of time in duration<br/>\n`inbcalls_long` - The number of inbound calls that were a long amount of time in duration<br/>\n`inbcalls_short_mins` - The number of minutes in inbound calls that were short in duration<br/>\n`inbcalls_medium_mins` - The number of minutes in inbound calls that were medium in duration<br/>\n`inbcalls_long_mins` - The number of minutes in inbound calls that were long in duration<br/>\n`sentmessages` - sent text messages<br/>\n`rcvdmessages` - received text messages<br/>\n`creatednotes` - Notes created<br/>\n`updatednotes` - Notes updated<br/>\n`newtodos` - ToDos created<br/>\n`donetodos` - ToDos completed<br/>\n`donesteps` - Steps completed<br/>\n`mailopens` - Email opens<br/>\n<br/>\nQueries must specify a period scale, one of `year`, `quarter`, `month` or `week`\n",
        "tags": [
          "Analytics"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "name": "queries",
            "description": "map of `Query` definitions. The response will be organized by the query names that were provided in the input map.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "exampleQueryName": {
                  "description": "Each query in the map should have a different name. The response will be organized by the query names that were provided.",
                  "$ref": "#/definitions/Query"
                }
              },
              "example": {
                "queries": {
                  "advisorqtr": {
                    "max": 30,
                    "scale": "quarter",
                    "tag": "advisor",
                    "measures": [
                      "sentmails",
                      "rcvdstandard",
                      "meetings",
                      "inbcalls",
                      "outbcalls"
                    ]
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Activity data for individual reporting periods",
            "schema": {
              "type": "array",
              "items": {
                "title": "DataBuckets",
                "required": [
                  "key",
                  "stamp"
                ],
                "properties": {
                  "key": {
                    "description": "Key encoding the reporting period e.g. 2017 for year 2017, 2018Q1 for Q1 2017, etc.",
                    "type": "string"
                  },
                  "stamp": {
                    "description": "Timestamp of beginning of reporting period",
                    "type": "int64"
                  },
                  "sentmails": {
                    "description": "Emails sent by user",
                    "type": "int"
                  },
                  "rcvdstandard": {
                    "description": "(Non-bulk) emails received",
                    "type": "int"
                  },
                  "rcvdbulk": {
                    "description": "Bulk emails received",
                    "type": "int"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/analytics/projects": {
      "post": {
        "summary": "Query project data",
        "description": "Query for data about projects/deals that are active or in the pipeline.  You can select projects according to where\ntheir start, active and end dates fall relative to a reporting period, and retrieve various metrics for each.\n###Reporting Period\nThe`scale` property controls what type of reporting period you want to query - the current `year`, `quarter`, or `month`.<br/>\nThe `relative` property allows you to retrieve future periods, by setting e.g. `relative:0` for the current\nperiod, `relative:1` for the next, and so on.  If not set it defaults to `relative:0`\n###Metrics\nThe following metrics are available about each project<br/>\n`segment` - the segment the project belongs to<br/>\n`stage` - the stage the project is in<br/>\n`meta_value` - the financial value of the project<br/>\n`project_start` - UTC ms timestamp of the project start date<br/>\n`project_active` - UTC ms timestamp of the project active date<br/>\n`project_end` - UTC ms timestamp of the project end date<br/>\n",
        "tags": [
          "Analytics"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "name": "queries",
            "description": "Map of `ProjectQuery` definitions. The response will be organized by the query names that were provided in the input map.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "mode": {
                  "description": "one of `pipeline` or `active` (default is pipeline)",
                  "schema": {
                    "type": "string"
                  }
                },
                "exampleQueryName": {
                  "description": "Each query in the map should have a different name. The response will be organized by the query names that were provided.",
                  "$ref": "#/definitions/ProjectQuery"
                }
              },
              "example": {
                "queries": {
                  "dealsqtr": {
                    "mode": "pipeline",
                    "always": "in-period",
                    "scale": "quarter",
                    "relative": 0,
                    "metrics": [
                      "stage",
                      "segment",
                      "nextstep",
                      "meta_value",
                      "project_start",
                      "project_end"
                    ]
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pipeline data",
            "schema": {
              "type": "object",
              "items": null
            }
          }
        }
      }
    },
    "/v1/analytics/leads": {
      "post": {
        "summary": "Query lead qualification data",
        "description": "Query lead qualification data",
        "tags": [
          "Analytics"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "name": "queries",
            "description": "map of `Query` definitions. The response will be organized by the query names that were provided in the input map.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "exampleQueryName": {
                  "description": "Each query in the map should have a different name. The response will be organized by the query names that were provided.",
                  "$ref": "#/definitions/Query"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead Qualification Data",
            "schema": {
              "type": "object",
              "items": null
            }
          }
        }
      }
    },
    "/v1/analytics/funnel": {
      "post": {
        "summary": "Query funnel information (BETA)",
        "description": "Query funnel information (BETA)<br/>\nThe following metrics are supported:<br/>\n<br/>\n`leadcount` -     The number of contacts that went into the lead stage after the start of the period<br/>\n`currentcount` -  The number of contacts that went into the current stage after the start of the period<br/>\n`futurecount` -   The number of contacts that went into the future stage after the start of the period<br/>\n`currentcount` -  The number of contacts that went into the current stage after the start of the period<br/>\n`pendingcount` -  The number of contacts that went into the pending stage after the start of the period<br/>\n`woncount`     -  The number of contacts that went into the won stage after the start of the period<br/>\n`lostcount`    -  The number of contacts that went into the lost stage after the start of the period<br/>\n<br/>\n`stepwoncount` -  The number of funnels that made it to the won step<br/>\n`steplostcount` - The number of funnels that went to the lost step<br/>\n`period_steplostcount` - The number of funnels that went to the lost step during the selected period<br/>\n`stepnextcount` - The number of funnels that went into the next step<br/>\n`stepintocount` - The number of funnels that stepped into a step<br/>\n`period_stepintocount` - The number of funnels that stepped into a step in the selected period<br/>\n`stepcount` - The number of funnels currently in a step<br/>\n`averagesteptime` - The average time in a step<br/>\n`mediansteptime` - The median time in a step<br/>\n <br/>\n`cumulative_lead` - The number of current open leads<br/>\n`cumulative_current` - The number of funnels in the current stage<br/>\n`cumulative_future` - The number of funnels in the future stage<br/>\n`cumulative_pending` - The number of funnels in the pending stage<br/>\n`cumulative_won` - The number of funnels in the won stage (excludes anything before the selected period)<br/>\n`cumulative_lost` - The number of funnels in the lost stage (excludes anything before the selected period)<br/>\n<br/>\n`lead_future` - The number of funnels that went from the lead stage to the future stage<br/>\n`lead_lost` - The number of funnels that went from the lead stage to the lost stage<br/>\n`future_current` - The number of funnels that went from the future stage to the current stage<br/>\n`future_won` - The number of funnels that went from the future stage to the won stage (only applicable if current/pending stages are disabled)<br/>\n`future_lost` - The number of funnels that went from the future stage to the lost stage<br/>\n`current_pending` - The number of funnels that wen from the current stage to the pending stage<br/>\n`current_lost` - The number of funnels that went from the current stage to the lost stage<br/>\n`current_won` - The number of funnels that went from the current stage to the won stage (only applicable if pending stages are disabled)<br/>\n`pending_won` - The number of funnels that went from the pending stage to the won stage<br/>\n`pending_lost` - The number of funnels that went from the pending stage to the lost stage<br/>\n <br/>\n`period_lead_future` - The number of funnels that went from the lead stage to the future stage in the selected period<br/>\n`period_lead_lost` - The number of funnels that went from the lead stage to the lost stage in the selected period<br/>\n`period_future_current` - The number of funnels that went from the future stage to the current stage in the selected period<br/>\n`period_future_won` - The number of funnels that went from the future stage to the won stage in the selected period (only applicable if current/pending stages are disabled)<br/>\n`period_future_lost` - The number of funnels that went from the future stage to the lost stage in the selected period<br/>\n`period_current_pending` - The number of funnels that wen from the current stage to the pending stage in the selected period<br/>\n`period_current_lost` - The number of funnels that went from the current stage to the lost stage in the selected period<br/>\n`period_current_won` - The number of funnels that went from the current stage to the won stage in the selected period (only applicable if pending stages are disabled)<br/>\n`period_pending_won` - The number of funnels that went from the pending stage to the won stage in the selected period<br/>\n`period_pending_lost` - The number of funnels that went from the pending stage to the lost stage in the selected period<br/>\n <br/>\n`lead_time` - The median time funnels have been in the lead stage in milliseconds<br/>\n`future_time` - The median time funnels have been in the future stag in millisecondse<br/>\n`current_time` - The median time funnels have been in the current stage in milliseconds<br/>\n`pending_time` - The median time funnels have been in the pending stage in milliseconds<br/>\n<br/>\n`lead_uncombined_conversion` - The uncombined conversion of the lead stage<br/>\n`future_uncombined_conversion` - The uncombined conversion of the future stage<br/>\n`current_uncombined_conversion` - The uncombined conversion of the current stage<br/>\n`pending_uncombined_conversion` - The uncombined conversion of the pending stage<br/>\n`won_uncombined_conversion` - The uncombined conversion of the won stage<br/>\n<br/>\n`lead_combined_conversion` - The combined conversion of the lead stage<br/>\n`future_combined_conversion` - The combined conversion of the future stage<br/>\n`current_combined_conversion` - The combined conversion of the current stage<br/>\n`pending_combined_conversion` - The combined conversion of the pending stage<br/>\n`won_combined_conversion` - The combined conversion of the won stage<br/>\n<br/>\n`step_uncombined_conversion` - The per-step uncombined conversion<br/>\n`step_combined_conversion` - The per-step combined conversion<br/>\n<br/>\n`cumulative_steplostcount` - The total number of funnels that went to lost before a step<br/>\n`cumulative_period_steplostcount` -  The total number of funnels that went to lost before a step, only during the selected period<br/>\n`cumulative_mediansteptime` - The median step time of all steps before a step<br/>\n`cumulative_period_mediansteptime` - The median step time of all steps before a step, only during the selected period<br/>\n`stepintolostcount` - The number of funnels that went to lost from the pervious step to the current step<br/>\n`period_stepintolostcount` - The number of funnels that went to lost from the pervious step to the current step, only during the selected period<br/>\n<br/>\n`lasttouch` - The last time a funnel had a touch activity as a timestamp<br/>\n`lastactivity` - The last time a funnel had any activity as a timestamp<br/>\n`lastengagement` - The last time a funnel had a engagement activity as a timestamp<br/>\n`average_touches` - The average number of touches<br/>\n<br/>\n`sentmails` - The number of emails sent<br/>\n`rcvdstandard` - The number of emails received (non-bulk)<br/>\n`rcvdbulk` - The number of emails received (bulk)<br/>\n`mailopens` - The number of mail opens <br/>\n`sentmessages` - The number of sent text messages <br/>\n`rcvdmessages` - The number of recieved text messages<br/>\n`remails` - emails referenced<br/>\n`touch` - The number of touches<br/>\n`postalbulk` - The number of bulk postal mail<br/>\n`postalstd` - The number of non-bulk postal mail<br/>\n`engagement` - The number of engagments<br/>\n`mailclicks` - The number of mailclicls<br/>\n`mailreplies` - The number of mail replies<br/>\n`dropins` - The number of drop ins<br/>\n`meetings` - The number of meetings <br/>\n`recalls` - The number of referened calls <br/>\n`outbcalls` - The number of outbound calls <br/>\n`inbcalls` - The number of inbound calls <br/>\n`remessages` - The number of referenced text messages<br/>\n`creatednotes` - The number of notes created<br/>\n`donetodos` - The number of todos done <br/>\n`newtodos` - The number of todos created <br/>\n`donesteps` - The number of steps done <br/>\n`dropinmins` - The number of minutes for dropins<br/>\n`meetingmins` - The number of minutes for meetings<br/>\n`recallmins` - The number of minures for referenced calls<br/>\n`outbcallmins` - The number of minitues in outbound calls<br/>\n`inbcallmins` - The number of minutes in inbound calls<br/>\n`outbcalls_short` - The number of outbound calls that were a short amount of time in duration<br/>\n`outbcalls_medium` - The number of outbound calls that were a medium amount of time in duration<br/>\n`outbcalls_long` - The number of minutes in outbound calls that were a long amount of time in duration<br/>\n`outbcalls_short_mins` - The number of minutes in outbound calls that were short in duration<br/>\n`outbcalls_medium_mins` - The number of minutes in outbound calls that were medium in duration<br/>\n`outbcalls_long_mins` - The number of minutes in outbound calls that were long in duration<br/>\n`inbcalls_short` - The number of inbound calls that were a short amount of time in duration<br/>\n`inbcalls_medium` - The number of inbound calls that were a medium amount of time in duration<br/>\n`inbcalls_long` - The number of inbound calls that were a long amount of time in duration<br/>\n`inbcalls_short_mins` - The number of minutes in inbound calls that were short in duration<br/>\n`inbcalls_medium_mins` - The number of minutes in inbound calls that were medium in duration<br/>\n`inbcalls_long_mins` - The number of minutes in inbound calls that were long in duration<br/>\n`outreach` - The number of emails, texts, and calls to unique people per day<br/>\n`engagement` - The number of meetings with or emails, texts, and calls from unique people per day<br/>\n`interaction` - The number of emails, texts, calls, and meetings with unique people per day<br/>\n<br/>\nConfigured Measures can be queried using \"#measure-name\".\n",
        "tags": [
          "Analytics"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "name": "usertags",
            "description": "Array of user tags to filter users",
            "type": "array",
            "items": "string",
            "in": "body",
            "required": false
          },
          {
            "name": "queries",
            "description": "map of `Query` definitions. The response will be organized by the query names that were provided in the input map.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "exampleQueryName": {
                  "description": "Each query in the map should have a different name. The response will be organized by the query names that were provided.",
                  "$ref": "#/definitions/FunnelQuery"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lead Qualification Data",
            "schema": {
              "type": "object",
              "items": null
            }
          }
        }
      }
    },
    "/v1/team/roles": {
      "get": {
        "summary": "Get team roles",
        "description": "Get a list of the defined roles in a team\n\nRequires View User and Edit Team permissions",
        "tags": [
          "Team"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "an error code a a list of the names and ids for the roles",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TeamRole"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/team/members/update": {
      "post": {
        "summary": "Update team member",
        "description": "Update the subteam node, user profile custom fields, and user profile keywords of a team member.  Requires\nView User and Edit Team permissions",
        "tags": [
          "Team"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "teammember",
            "description": "settings for this team member user",
            "schema": {
              "type": "object",
              "singular": "team member",
              "plural": "team members",
              "required": [
                "key"
              ],
              "properties": {
                "key": {
                  "description": "the team member's user account email",
                  "type": "string"
                },
                "role": {
                  "description": "the role label of the role to be applied to the team member",
                  "type": "string"
                },
                "node": {
                  "description": "the subteam node to be applied to the team member",
                  "type": "string"
                },
                "nodeByParts": {
                  "description": "the subteam node to be applied to the team member, as an array of node path elements.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "secondaryNodes": {
                  "description": "the additional nodes the team member can see; removes any previous secondary nodes",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "visibleAt": {
                  "description": "the additional nodes where the team member can be found; removes any previous visibleAt nodes",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "customFields": {
                  "description": "array of custom fields to set in the member's personal profile",
                  "$ref": "#/definitions/CustomField"
                },
                "keywords": {
                  "description": "arrays of keywords (aka tags) to be added or removed",
                  "$ref": "#/definitions/KeywordChanges"
                }
              },
              "example": {
                "key": "dana@incfire.com",
                "customFields": [
                  {
                    "id": "acme-mls-id",
                    "name": "Acme MlsId",
                    "value": "123456"
                  }
                ],
                "keywords": {
                  "add": [
                    "osa",
                    "onboard"
                  ],
                  "remove": [
                    "isa"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/team/members/list": {
      "get": {
        "summary": "Get team members",
        "description": "Get a list of the members of the user's current team.\n\nRequires View User and Edit Team permissions",
        "tags": [
          "Team"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Members",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TeamMember"
                  }
                }
              },
              "example": {
                "errorcode": 0,
                "list": [
                  {
                    "name": "Dave Varenos",
                    "email": "dave@incfire.com"
                  },
                  {
                    "name": "Dana Varenos",
                    "email": "dana@incfire.com"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/user/stages/projects": {
      "get": {
        "summary": "Get project stages",
        "description": "Get the Cloze stages that apply to projects. Returns the internal Cloze project stage\nkeys along with their user custom label.",
        "tags": [
          "Account"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Stages",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "message": {
                  "description": "If an error occurs, this is the human readable description"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "title": "Stage",
                    "required": [
                      "name",
                      "key"
                    ],
                    "properties": {
                      "name": {
                        "description": "user label for stage",
                        "type": "string"
                      },
                      "key": {
                        "description": "internal stage name",
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "errorcode": 0,
                "list": [
                  {
                    "name": "Potential",
                    "key": "future"
                  },
                  {
                    "name": "Active",
                    "key": "current"
                  },
                  {
                    "name": "Done",
                    "key": "won"
                  },
                  {
                    "name": "Lost",
                    "key": "lost"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/user/stages/people": {
      "get": {
        "summary": "Get people and company contact stages",
        "description": "Get the Cloze stages that apply to people and company contacts. Returns the internal Cloze stage\nkeys along with their user custom label.",
        "tags": [
          "Account"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Stages",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "message": {
                  "description": "If an error occurs, this is the human readable description"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "title": "Stage",
                    "required": [
                      "name",
                      "key"
                    ],
                    "properties": {
                      "name": {
                        "description": "user label for stage",
                        "type": "string"
                      },
                      "key": {
                        "description": "internal stage name",
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "errorcode": 0,
                "list": [
                  {
                    "name": "Lead",
                    "key": "lead"
                  },
                  {
                    "name": "Lost",
                    "key": "out"
                  },
                  {
                    "name": "Potential",
                    "key": "future"
                  },
                  {
                    "name": "Active",
                    "key": "current"
                  },
                  {
                    "name": "Inctive",
                    "key": "past"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/user/segments/projects": {
      "get": {
        "summary": "Get project segments",
        "description": "Get the project segments available within a cloze user account..",
        "tags": [
          "Account"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Stages",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "message": {
                  "description": "If an error occurs, this is the human readable description"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "title": "Stage",
                    "required": [
                      "name",
                      "key"
                    ],
                    "properties": {
                      "name": {
                        "description": "user label for segment",
                        "type": "string"
                      },
                      "key": {
                        "description": "internal segment name",
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "errorcode": 0,
                "list": [
                  {
                    "name": "Deals",
                    "key": "-project"
                  },
                  {
                    "name": "Purchases",
                    "key": "-project1"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/user/segments/people": {
      "get": {
        "summary": "Get contact segments",
        "description": "Get the people and company contact segments available within a cloze user account..",
        "tags": [
          "Account"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Stages",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "message": {
                  "description": "If an error occurs, this is the human readable description"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "title": "Stage",
                    "required": [
                      "name",
                      "key"
                    ],
                    "properties": {
                      "name": {
                        "description": "user label for segment",
                        "type": "string"
                      },
                      "key": {
                        "description": "internal segment name",
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "example": {
                "errorcode": 0,
                "list": [
                  {
                    "name": "Client",
                    "key": "customer"
                  },
                  {
                    "name": "Partners",
                    "key": "partner"
                  },
                  {
                    "name": "Suppliers",
                    "key": "supplier"
                  },
                  {
                    "name": "Investor",
                    "key": "investor"
                  },
                  {
                    "name": "Advisors",
                    "key": "advisor"
                  },
                  {
                    "name": "Buyers",
                    "key": "custom1"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/v1/user/steps": {
      "get": {
        "summary": "Get steps",
        "description": "For segments, and stages within each segment, retrieve the steps available for a cloze user account.\nOptional query parameters may constrain the results by segment, or by segment and stage.\nSteps are returned as user labels and in Cloze internal step name format.",
        "tags": [
          "Account"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "name": "segment",
            "description": "optional segment name",
            "type": "string",
            "in": "query",
            "required": false
          },
          {
            "name": "stage",
            "description": "optional stage name, requires segment parameter to be provided if set",
            "type": "string",
            "in": "query",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "Steps",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "message": {
                  "description": "If an error occurs, this is the human readable description"
                },
                "segments": {
                  "description": "Map of segment definitions",
                  "type": "object",
                  "properties": {
                    "stages": {
                      "description": "Map of stage definitions",
                      "type": "object",
                      "properties": {
                        "steps": {
                          "title": "Step",
                          "required": [
                            "name",
                            "key"
                          ],
                          "properties": {
                            "name": {
                              "description": "user label for step",
                              "type": "string"
                            },
                            "key": {
                              "description": "internal step name",
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "errorcode": 0,
                "segments": {
                  "supplier": {
                    "current": {
                      "steps": [
                        {
                          "name": "append samples",
                          "key": "s-00000"
                        },
                        {
                          "name": "have dinner with the boss",
                          "key": "*s-15344457035"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/views": {
      "get": {
        "summary": "Get views and audiences",
        "description": "Get the set of views and audiences that apply to people, companies, and projects. Under the\ncovers audiences and views are equivalent, but the term audience is used for people and view for\ncompanies and projects.",
        "tags": [
          "Account"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Views",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "message": {
                  "description": "If an error occurs, this is the human readable description"
                },
                "people": {
                  "type": "object",
                  "title": "People Views",
                  "description": "Information about the audiences that are defined for people",
                  "properties": {
                    "label": {
                      "type": "object",
                      "title": "Label Pair",
                      "description": "Labels used for one or more people audiences",
                      "properties": {
                        "singular": {
                          "type": "string",
                          "description": "End-user visible label used for one view"
                        },
                        "plural": {
                          "type": "string",
                          "description": "End-user visible label used for multiple views"
                        }
                      }
                    },
                    "views": {
                      "type": "array",
                      "description": "Array of views that apply to people",
                      "items": {
                        "title": "View",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id of this view"
                          },
                          "name": {
                            "type": "string",
                            "description": "name of this view"
                          }
                        }
                      }
                    }
                  }
                },
                "companies": {
                  "type": "object",
                  "title": "Company Views",
                  "description": "Information about the views that are defined for companies",
                  "properties": {
                    "label": {
                      "type": "object",
                      "title": "Label Pair",
                      "description": "Labels used for one or more company views",
                      "properties": {
                        "singular": {
                          "type": "string",
                          "description": "End-user visible label used for one view"
                        },
                        "plural": {
                          "type": "string",
                          "description": "End-user visible label used for multiple views"
                        }
                      }
                    },
                    "views": {
                      "type": "array",
                      "description": "Array of views that apply to companies",
                      "items": {
                        "title": "View",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id of this view"
                          },
                          "name": {
                            "type": "string",
                            "description": "name of this view"
                          }
                        }
                      }
                    }
                  }
                },
                "projects": {
                  "type": "object",
                  "title": "Project Views",
                  "description": "Information about the views that are defined for projects",
                  "properties": {
                    "label": {
                      "type": "object",
                      "title": "Label Pair",
                      "description": "Labels used for one or more project views",
                      "properties": {
                        "singular": {
                          "type": "string",
                          "description": "End-user visible label used for one view"
                        },
                        "plural": {
                          "type": "string",
                          "description": "End-user visible label used for multiple views"
                        }
                      }
                    },
                    "views": {
                      "type": "array",
                      "description": "Array of views that apply to projects",
                      "items": {
                        "title": "View",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "id of this view"
                          },
                          "name": {
                            "type": "string",
                            "description": "name of this view"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "errorcode": 0,
                "people": {
                  "label": {
                    "singular": "Audience",
                    "plural": "Audiences"
                  },
                  "views": [
                    {
                      "id": "my",
                      "name": "My People"
                    },
                    {
                      "id": "focus",
                      "name": "My Network"
                    }
                  ]
                },
                "companies": {
                  "label": {
                    "singular": "View",
                    "plural": "Views"
                  },
                  "views": [
                    {
                      "id": "my",
                      "name": "My Companies"
                    },
                    {
                      "id": "focus",
                      "name": "My Focus"
                    }
                  ]
                },
                "projects": {
                  "label": {
                    "singular": "View",
                    "plural": "Views"
                  },
                  "views": [
                    {
                      "id": "my",
                      "name": "My Properties"
                    },
                    {
                      "id": "focus",
                      "name": "My Focus"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/team/nodes": {
      "get": {
        "summary": "Get subteam nodes",
        "description": "Get a list of the currently defined subteam nodes within the team\n\nRequires View User and Edit Team permissions",
        "tags": [
          "Team"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "an error code a a list of node information items",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SubteamNode"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/create": {
      "post": {
        "summary": "Create project",
        "description": "Create a new project or merge updates into an existing one. Projects require a name.",
        "tags": [
          "Relations - Projects"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "project",
            "description": "The project or deal to create",
            "schema": {
              "$ref": "#/definitions/ProjectRef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/projects/update": {
      "post": {
        "summary": "Update project",
        "description": "Merge updates into an existing project. Projects require a name.",
        "tags": [
          "Relations - Projects"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "project",
            "description": "The project or deal updates",
            "schema": {
              "$ref": "#/definitions/ProjectRef",
              "example": {
                "name": "Meadow Brook Renovation",
                "summary": "Located at 33 Meadow Brook Lane",
                "stage": "future",
                "segment": "project",
                "createdDate": "2018-04-10",
                "customFields": [
                  {
                    "id": "value",
                    "type": "currency",
                    "value": 15000
                  }
                ],
                "appLinks": [
                  {
                    "source": "na16.salesforce.com",
                    "uniqueid": "006j000000Pkp1d",
                    "label": "Salesforce Opportunity",
                    "url": "https://na16.salesforce.com/006j000000Pkp1d"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/people/create": {
      "post": {
        "summary": "Create person",
        "description": "Create a new or enhance an existing person within Cloze. People can be created with just an email address or both a name and another unique identifier such as a mobile phone number, twitter handle, or facebook id.  People may be shared to the team by setting `shareTo` in the request body to `team`.",
        "tags": [
          "Relations - People"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "person",
            "description": "The person",
            "schema": {
              "$ref": "#/definitions/PersonRef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/people/update": {
      "post": {
        "summary": "Update person",
        "description": "Enhance an existing person within Cloze. People can be referenced with just an email address or both a name and another unique identifier such as a mobile phone number, twitter handle, or facebook id.  People may be shared to the team by setting `shareTo` in the request body to `team`.",
        "tags": [
          "Relations - People"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "person",
            "description": "The person",
            "schema": {
              "$ref": "#/definitions/PersonRef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/timeline/todo/create": {
      "post": {
        "summary": "Create a to do",
        "description": "Create a new To Do within Cloze",
        "tags": [
          "Timeline"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "todo",
            "description": "The To Do to create",
            "schema": {
              "type": "object",
              "singular": "todo",
              "plural": "todos",
              "required": [
                "subject"
              ],
              "properties": {
                "when": {
                  "description": "date stamp for reminder (1 if \"someday\"). Can be a string or a UTC timestamp in ms since the epoch. If not provided the To Do is treated as \"someday\".",
                  "type": [
                    "string",
                    "number"
                  ],
                  "format": "date-time"
                },
                "subject": {
                  "description": "Subject or description for this To Do",
                  "type": "string"
                },
                "preview": {
                  "description": "Preview of the body (if not provided will be automatically created from the body). Must be no longer than 1kb.",
                  "type": "string"
                },
                "participants": {
                  "description": "Array of people and companies related to the To Do. Each must be email addresses or other unique identifier (e.g. mobile phone numbers) for people, or domain name for company",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "assigner": {
                  "description": "The Cloze user that is assigning the To Do This must be email addresses or other unique identifier of the user. If not provided, the assigner is the user making the request.",
                  "type": "string"
                },
                "assignee": {
                  "description": "The Cloze user this To Do is being assigned to This must be email addresses or other unique identifier of the user. If not assigned it is for the user making the request. The user must have permission to view team members and import team data to do this.",
                  "type": "string"
                },
                "dateFormat": {
                  "description": "For dates of the form 1/2/2021, this determines if they are parsed as US (month/day/year) or International (day/month/year) dates.",
                  "type": "string",
                  "enum": [
                    "us",
                    "international"
                  ]
                },
                "dryrun": {
                  "description": "Run all validation but do not create/update the record",
                  "type": "boolean"
                },
                "skipImport": {
                  "description": "Entirely ignore the record (do not validate, create, or update the record)",
                  "type": "boolean"
                }
              },
              "example": {
                "when": "2018-11-20T16:00:00Z",
                "subject": "Launch Black Friday marketing campaign",
                "participants": [
                  "dave@incfire.com",
                  "dana@incfire.com"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/companies/create": {
      "post": {
        "summary": "Create company",
        "description": "Create a new company or enhance an existing company within Cloze. Companies can be created with just a domain name or both a name and another unique identifier such as a phone number and email address. Companies may be shared to the team by setting `shareTo` in the request body to `team`.",
        "tags": [
          "Relations - Companies"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "company",
            "description": "The company to create.",
            "schema": {
              "$ref": "#/definitions/CompanyRef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/companies/update": {
      "post": {
        "summary": "Update company",
        "description": "Enhance an existing company within Cloze. Companies can be referenced with just a domain name or both a name and another unique identifier such as a phone number and email address. Companies may be shared to the team by setting `shareTo` in the request body to `team`.",
        "tags": [
          "Relations - Companies"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "company",
            "description": "The company to update.",
            "schema": {
              "$ref": "#/definitions/CompanyRef",
              "example": {
                "name": "IncFire Studios",
                "description": "Marketing videos made awesome!",
                "stage": "lead",
                "segment": "customer",
                "domains": [
                  "incfire.com"
                ],
                "customFields": [
                  {
                    "id": "lead-source",
                    "type": "keywords",
                    "value": "comdex2018"
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/timeline/communication/create": {
      "post": {
        "summary": "Add a communication record",
        "description": "This API allows you to add a new call, text, meeting, email, or direct message to Cloze",
        "tags": [
          "Timeline"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "communication",
            "description": "The communication record to create",
            "schema": {
              "type": "object",
              "singular": "communication record",
              "plural": "communication records",
              "properties": {
                "account": {
                  "description": "Team administrators can use this to create the communication record in a different team member's account. This should be the email address of the team member. The user must be an administrator and have permission to import team data to do this.",
                  "type": "string",
                  "format": "email"
                },
                "date": {
                  "description": "when the communcation actually happened (or when the meeting is scheduled for) Can be a string or a UTC timestamp in ms since the epoch.",
                  "type": [
                    "string",
                    "number"
                  ],
                  "format": "date-time"
                },
                "name": {
                  "description": "the from name for this communication record (the name of the person initating the communication). Alternatively, the name can be provided as a recipient with role \"from\" (but only one from name can be specified).",
                  "type": "string"
                },
                "from": {
                  "description": "the from address for this communication record (the address of the person initating the communication). This can be an email address, phone number, social handle or app link  (e.g. na16.salesforce.com:006j000000Pkp1d). Alternatively, the from address can be provided as a recipient with role \"from\" (but only one from can be specified)",
                  "type": "string"
                },
                "style": {
                  "description": "Style of this communication (This controls both how it will be displayed in Cloze as well has how it will be analyzed for relationship scoring).",
                  "type": "string",
                  "enum": [
                    "email",
                    "call",
                    "text",
                    "meeting",
                    "direct",
                    "postal",
                    "postal-bulk"
                  ]
                },
                "threadid": {
                  "description": "A unique identifier describing the thread this belongs to. All messages with this same threadid will be threaded together in cloze. An example of a good threadid would be a unique support ticket number.",
                  "type": "string"
                },
                "recipients": {
                  "description": "Array of recipients of the communication (or attendees of calls or meetings). These must be people only (they cannot be companies or projects).",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RecipientRef"
                  }
                },
                "references": {
                  "description": "Array of people, companies, or projects related to the communication record.",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RelationRef"
                  }
                },
                "subject": {
                  "description": "Subject of the communication record",
                  "type": "string"
                },
                "preview": {
                  "description": "Preview of the body (if not provided will be automatically created from the body). Must be no longer than 1kb.",
                  "type": "string"
                },
                "body": {
                  "description": "Body text of the communication record",
                  "type": "string"
                },
                "bodytype": {
                  "description": "Type of the body. If not specified body is treated as plain text.",
                  "type": "string",
                  "enum": [
                    "html",
                    "text"
                  ]
                },
                "due": {
                  "description": "date stamp for reminder (1 if \"someday\"). Can be a string or a UTC timestamp in ms since the epoch. If not provided the reminder is treated as \"someday\".",
                  "type": [
                    "string",
                    "number"
                  ],
                  "format": "date-time"
                },
                "duration": {
                  "description": "For meetings and calls, this is the duration (in minutes)",
                  "type": "number"
                },
                "location": {
                  "description": "For meetings, this is the location of the meeting",
                  "type": "string"
                },
                "outcome": {
                  "description": "For calls, this is the outcome",
                  "type": "string",
                  "enum": [
                    "leftvm",
                    "noanwser",
                    "connected"
                  ]
                },
                "direction": {
                  "description": "For calls and texts, this is the direction of the call",
                  "type": "string",
                  "enum": [
                    "inbound",
                    "outbound"
                  ]
                },
                "measureas": {
                  "description": "Classify the communication as the specified measure, e.g. \"inquiry\"",
                  "type": "string"
                },
                "update": {
                  "description": "Update the existing communication record if it's already been imported",
                  "type": "boolean"
                },
                "links": {
                  "description": "Array of links to include with this communication",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContentLink"
                  }
                },
                "campaignId": {
                  "description": "Trigger the campaign matching this ID on the from person if there is one",
                  "type": "string"
                },
                "dateFormat": {
                  "description": "For dates of the form 1/2/2021, this determines if they are parsed as US (month/day/year) or International (day/month/year) dates.",
                  "type": "string",
                  "enum": [
                    "us",
                    "international"
                  ]
                },
                "dryrun": {
                  "description": "Run all validation but do not create/update the record",
                  "type": "boolean"
                },
                "skipImport": {
                  "description": "Entirely ignore the record (do not validate, create, or update the record)",
                  "type": "boolean"
                }
              },
              "example": {
                "date": "2018-11-20T11:45:13Z",
                "style": "call",
                "from": "+1 650-555-1212",
                "subject": "Call with Dana Varenos",
                "recipients": [
                  {
                    "value": "+1 781-555-1212"
                  }
                ],
                "outcome": "connected",
                "duration": 12
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/timeline/content/create": {
      "post": {
        "summary": "Add a content record",
        "description": "This API allows you to add a new event, note, or external to do to Cloze",
        "tags": [
          "Timeline"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "content",
            "description": "The content record to create",
            "schema": {
              "type": "object",
              "singular": "content record",
              "plural": "content records",
              "properties": {
                "account": {
                  "description": "Team administrators can use this to create the content in a different team member's account. This should be the email address of the team member. The user must be an administrator and have permission to import team data to do this.",
                  "type": "string",
                  "format": "email"
                },
                "sendtoteam": {
                  "description": "Use this field to place content in the local account then send it to the team account. The user must have permission to import team data to do this.",
                  "type": "boolean"
                },
                "date": {
                  "description": "when the content should show up in the timeline. Can be a string or a UTC timestamp in ms since the epoch.",
                  "type": [
                    "string",
                    "number"
                  ],
                  "format": "date-time"
                },
                "name": {
                  "description": "the from name for this content record (the name of the person that created the content record)",
                  "type": "string"
                },
                "from": {
                  "description": "the from address for this content record (the address of the person created the record). This can be an email address, phone number, social handle or app link (e.g. na16.salesforce.com:006j000000Pkp1d)",
                  "type": "string"
                },
                "style": {
                  "description": "Style of this content record (This controls both how it will be displayed in Cloze).",
                  "type": "string",
                  "enum": [
                    "event",
                    "note",
                    "todo"
                  ]
                },
                "uniqueid": {
                  "description": "A unique identifier for this content record. This will often be the unique Id in an external system so that updates can be matched up with the record in Cloze. This is required for `note` and `todo` styles.",
                  "type": "string"
                },
                "source": {
                  "description": "The source that this content record originally came from (e.g. todoist.com). This is required for `note` and `todo` styles. Must be a valid domain.",
                  "type": "string"
                },
                "threadid": {
                  "description": "A unique identifier describing the thread this belongs to. All messages with this same threadid will be threaded together in cloze. An example of a good threadid would be a unique support ticket number.",
                  "type": "string"
                },
                "references": {
                  "description": "Array of people, companies, or projects related to the communication record.",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/RelationRef"
                  }
                },
                "subject": {
                  "description": "Subject of the communication record",
                  "type": "string"
                },
                "preview": {
                  "description": "Preview of the body (if not provided will be automatically created from the body). Must be no longer than 1kb.",
                  "type": "string"
                },
                "body": {
                  "description": "Body text of the communication record",
                  "type": "string"
                },
                "bodytype": {
                  "description": "Type of the body. If not specified body is treated as plain text.",
                  "type": "string",
                  "enum": [
                    "html",
                    "text"
                  ]
                },
                "due": {
                  "description": "date stamp for reminder (1 if \"someday\"). Can be a string or a UTC timestamp in ms since the epoch. If not provided the reminder is treated as \"someday\".",
                  "type": [
                    "string",
                    "number"
                  ],
                  "format": "date-time"
                },
                "links": {
                  "description": "Array of links to include with this communication",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ContentLink"
                  }
                },
                "campaignId": {
                  "description": "Trigger the campaign matching this ID on the from person if there is one",
                  "type": "string"
                },
                "dateFormat": {
                  "description": "For dates of the form 1/2/2021, this determines if they are parsed as US (month/day/year) or International (day/month/year) dates.",
                  "type": "string",
                  "enum": [
                    "us",
                    "international"
                  ]
                },
                "dryrun": {
                  "description": "Run all validation but do not create/update the record",
                  "type": "boolean"
                },
                "skipImport": {
                  "description": "Entirely ignore the record (do not validate, create, or update the record)",
                  "type": "boolean"
                }
              },
              "example": {
                "date": "2018-11-20T11:45:13Z",
                "style": "note",
                "from": "dave@incfire.com",
                "uniqueid": "abc123456789",
                "source": "example.org",
                "subject": "Met with dana to discuss the contract",
                "body": "We discussed the pricing terms in detail"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Error Response",
            "schema": {
              "$ref": "#/definitions/BasicResponse"
            }
          }
        }
      }
    },
    "/v1/subscribe": {
      "post": {
        "summary": "Subscribe to change events",
        "description": "This method allows you to subscribe to notifications from Cloze such as when a ***relation(person, project, or company)*** changes.\nNotifications are delived using Web hooks, the callback URL, *target_url* is supplied in the subscription.\n\n###__Event Types__###\nFor subscriptions that monitor *changes*, there are two event types:\n\n***relation audit changes*** - notifications co-incide with Cloze audit trail entries(that appear in the\nCloze timeline views) and contain the ***audited before and after changes*** in addition to the *person*, *project*, or\n*company*.\n\n***relation changes*** - *person*, *project*, or *company* is delivered on *any* change to a relation, *changes* information is empty.\n\n###__Subscription Scope__###\nFor **team users with export team data rights**, changes may be monitored against the team's relations or against the user's own local\nrelations. A ***scope*** property, ***team***, ***local***, or prefix, ***hierarchy:***  sets this. By default *team users\nwith export team data rights* subscribe to *team* relation changes. All other users may subscribe to their own local relations;\nthey are not authorized to subscribe to team or hierarchy changes. The *hierarchy:* prefixed scope is similar to *team* scope and may be\nused where  *hierarchies* are available. The *hierarchy:* scope allows you to see relations *at and below a position* in the hierarchy.\nThe following example shows all relations at the /USA/West sub-team level: _\"hierarchy:/USA/West\"_. To show relations at and below\nuse: _\"hierarchy:/USA/West/*\"_. To show relations at below the top team-level, and equivalent to _team_ scope,\nuse: _\"hierarchy:/*\"_.\n\n###__Event Filters__###\nChange notifications may be filtered by Cloze by providing a ***filters*** specification.\n\n###Relation Filters\nRelation filters select which relations are examined for changes:  what type of relation (person,\nproject, or company), and what values certain specified properties must have, to generate a webhook\nnotification.\n\nExample:  Filter for people in segment \"Buyer\", stage \"Warm\" with specific values for custom fields\n`lead-origin` and `lead-source`\n```\n{\n    \"person\":\n    {\n        \"segment\": \"Buyer\",\n        \"stage\": \"Warm\",\n        \"customFields\":\n        [\n            { \"id\": \"lead-origin\", \"value\": \"team\" },\n            { \"id\": \"lead-source\", \"value\": \"zillow\" }\n        ]\n    }\n}\n```\n\n###Change Filters\nChange filters determine which types of audit changes generate webhook notifications for the subscription.\nAudit changes include changes to the relation's `segment`, `stage`,  and changes to any of the relation's\ncustom fields.\n\nNote:  change filters are only applicable for relation audit change subscriptions - `person.audit.change`,\n`project.company.change` or `company.audit.change`.\n\nExample: changes in a person's stage from \"lead\" to any other stage\n```\n{\n    \"changes\":\n    {\n        \"stage\": { \"before\": \"Lead\", \"after\": \"*\" }\n    }\n}\n```\nExample: only changes where the custom field \"is-contacted\" has been set to \"Yes\"\n```\n{\n    \"changes\":\n    {\n        \"is-contacted\": { \"after\": \"Yes\" }\n    }\n}\n```\nExample: For custom fields you can use the field name instead of the unique id.\n```\n{\n    \"changes\":\n    {\n        \"Is Contacted\": { \"after\": \"Yes\" }\n    }\n}\n```\n\nFor subscriptions to relation audit changes, you can combine both relation filters and change filters -\nfor example, this filter limits notifications to people in segment `\"Buyer\"`, stage `\"Warm\"`, with specific\n`lead-source` and `lead-origin` values, and only when the `is-contacted` custom field is changed to Yes\n\n```\n{\n    \"person\":\n    {\n        \"segment\": \"Buyer\",\n        \"stage\": \"Warm\",\n        \"customFields\":\n        [\n            { \"id\": \"lead-origin\", \"value\": \"team\" },\n            { \"id\": \"lead-source\", \"value\": \"zillow\" }\n        ]\n    },\n    \"changes\":\n    {\n        \"is-contacted\": { \"after\": \"Yes\" }\n    }\n}\n```\n\n###__Notification Format__###\nChange notifications for *relations* are delivered as a array of objects. Each relation is delivered in a format that is\nidentical(symmetrical) to that used to add(or change) the relation. Please refer to the *Relations* section for\ndetails.\n\n###__HTTP Headers__###\nAll change notifications will contain an HTTP header, ***X-Cloze-Subscription-ID***, which contains the uniqueid assigned to\nthe subscription. For subscriptions that are created with a client reference, the client reference is provided in the\nHTTP header, ***X-Cloze-Client-Reference***.\n\n###__Webhook Response__###\nChange notifications must be responded to with a proper confirmation response. The following forms of confirmation response\nare accepted:\n\n  * *text/plain* content-type and body *OK*\n  * *application/json* content-type and body *{ \"status\" : \"ok\" }*\n\n###__Notification Retry and Suspension__###\nAny other form of response(other than legitimate failures) will result in immediate suspension of the subscription.\n\nSubscriptions will also be suspended if notifications are redirected more than 2 times.\n\nThe following conditions are considered failures that may be retried:\n\n  * The notification fails to receive a response within *10 seconds*\n  * A status code outside the range of 200–4xx is received\n  * A network error is encountered\n\nAudit change subscriptions will be retried up to 3 times, using exponential backoff\nat 30 seconds, then 90 seconds, then 270 seconds. Subscriptions to basic relation changes are retried\none time after 30 seconds.\n\nThe overall rate of notification success is monitored over daily periods: if there are at least 15\nnotification failures over a day period, and the overall failure rate over the period rises above 10%,\nthe subscription will be suspended\n\nExcessive or unresponsive notifications during day, hour and minute periods may also lead to the\nsubscription being suspended by Cloze:\n\n* More than 5 failures per minute\n* More than 10 failures per hour\n* More than 25 failures per day\n\nOnce a subscription is suspended, it can be reactivated in one of two ways:\n\n * Manually by the target account user, in Settings -> Webhooks\n * By unsubscribing and re-subscribing programmatically\n",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "subscription",
            "description": "The subscription to create.",
            "schema": {
              "type": "object",
              "properties": {
                "event": {
                  "description": "name of the event being subscribed to",
                  "type": "string",
                  "enum": [
                    "person.change",
                    "project.change",
                    "company.change",
                    "person.audit.change",
                    "project.audit.change",
                    "company.audit.change"
                  ]
                },
                "target_url": {
                  "description": "callback URL to be called by the Web hook",
                  "type": "string"
                },
                "scope": {
                  "description": "scope of subscription, changes to the user's local person, project, and company may be monitored, or team relations may be monitored, or team hierarchies can be monitored",
                  "type": "string",
                  "enum": [
                    "local",
                    "team",
                    "hierarchy:/X/Y/Z",
                    "hierarchy:/X/Y/Z/*"
                  ]
                },
                "filters": {
                  "description": "Filters applied by Cloze prior to delivering person, project, and company Web hooks. Filters is an array of one\nor more filter objects, only one of which needs to match to allow a notification to be delivered to a subscriber.\n\nEach filter may contain one or two key/value pairs. In the first form of key/value pair, key is \"person\",\n\"project\" or \"company\" depending on the subscription; value is a fragment of JSON required for matching the\nassociated resource. For subscriptions to *audit changes*, the notifications provide change information.\nA second key/value pair, where key is \"changes\", may be provided to filter against the change information.\n\nFor a candidate resource to match all names, values and structure of the JSON\nfragment must appear in the resource. Presence of the string \"*\" in the fragment is treated as a\nwildcard for matching purposes.\n",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/APIFilter"
                  }
                },
                "client_type": {
                  "description": "optional client or implementation information, e.g. \"zapier\"",
                  "type": "string"
                },
                "client_reference": {
                  "description": "optional client provided name used to identify and reference subscriptions. To unsubscribe the client may provide\neither client_reference and event name, or, the Cloze allocated uniqueid and event name. Multiple subscribes using the same event\nname and client reference will replace existing an existing subscription of the same event name and client reference\n",
                  "type": "string"
                },
                "ttl": {
                  "description": "optional subscription TTL. Lets you specify time to live for the subscription. TTL is specified in seconds.",
                  "type": "string"
                }
              },
              "example": {
                "event": "person.audit.change",
                "target_url": "https://mycallback/cloze/hook/person.audit.change",
                "scope": "local",
                "filters": [
                  {
                    "person": {
                      "first": "Tom"
                    },
                    "changes": {
                      "stage": {
                        "after": "done"
                      }
                    }
                  }
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "message": {
                  "description": "If an error occurs, this is the human readable description"
                },
                "uniqueid": {
                  "description": "unique subscription identifier, required to unsubscribe",
                  "type": "string"
                }
              },
              "example": {
                "errorcode": 0,
                "uniqueid": "iwpEBI9YmItIaXXXXXqARvJd8umaeduzRiu7-RD_LrOZvKymhvhgkTcVMwfuzxnrlg9O2dXVk4nWNh08AETg"
              }
            }
          }
        }
      }
    },
    "/v1/unsubscribe": {
      "post": {
        "summary": "Cancel a subscription",
        "description": "This method lets you unsubscribe from change events",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          },
          {
            "in": "body",
            "name": "subscription",
            "description": "The subscription to remove.",
            "schema": {
              "type": "object",
              "properties": {
                "event": {
                  "description": "name of the event being subscribed to",
                  "type": "string"
                },
                "uniqueid": {
                  "description": "unique subscription identifier, this in conjunction with event name may be to unsubscribe.",
                  "type": "string"
                },
                "client_reference": {
                  "description": "client subscription reference, if provided by subscribe, may be used in conjunction with event name to unsubscribe.",
                  "type": "string"
                }
              },
              "example": {
                "event": "person.audit.change",
                "uniqueid": "iwpEBI9YmItIaXXXXXqARvJd8umaeduzRiu7-RD_LrOZvKymhvhgkTcVMwfuzxnrlg9O2dXVk4nWNh08AETg\\"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "message": {
                  "description": "If an error occurs, this is the human readable description"
                }
              },
              "example": {
                "errorcode": 0
              }
            }
          }
        }
      }
    },
    "/v1/subscriptions": {
      "get": {
        "summary": "List subscriptions",
        "description": "This method lets you list your subscriptions",
        "tags": [
          "Webhooks"
        ],
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/user"
          },
          {
            "$ref": "#/parameters/api_key"
          },
          {
            "$ref": "#/parameters/accessToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription",
            "schema": {
              "type": "object",
              "required": [
                "errorcode"
              ],
              "properties": {
                "errorcode": {
                  "description": "Error code. 0 means success",
                  "type": "number"
                },
                "message": {
                  "description": "If an error occurs, this is the human readable description"
                },
                "list": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SubscriptionRef"
                  }
                }
              },
              "example": {
                "errorcode": 0,
                "list": [
                  {
                    "uniqueId": "iwpEBI9YmItIa90NJFsiqKWmPZuQ5r_pJh5wtmr-xyHrOZvKymhvhgkTcVMwfuzxOl9xN3M69Dr9OPhhRYfRQQ",
                    "event": "person.audit.change",
                    "target_url": "https://mycallback/cloze/hook/person.audit.change",
                    "scope": "local",
                    "date": 1537284209830,
                    "usage": {
                      "resumeDate": 1537373306393,
                      "lastSendAttempt": 1537375777210,
                      "successCount": 7,
                      "lastSuccessfulSend": 1537373603674,
                      "failCount": 1
                    }
[...]
